## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'country':['台灣', '中國', '泰國', '越南'],
        'population':[np.random.randint(100000), np.random.randint(100000), np.random.randint(100000), np.random.randint(100000)]}

In [3]:
population_1 = pd.DataFrame(data)
print(population_1)

  country  population
0      台灣       57632
1      中國       55189
2      泰國       56781
3      越南       31207

In [4]:
population_1.sort_values(['population'],ascending=False).groupby('population').head(1)

  country  population
0      台灣       57632
2      泰國       56781
1      中國       55189
3      越南       31207